<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="atm_HBN">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/atm</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">atm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="co.edu.uniajc.CajeroAutomatico.model.Banco" package="co.edu.uniajc.CajeroAutomatico.model" resource="co.edu.uniajc.CajeroAutomatico.model.Banco.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
